<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Role ACL</title>
</head>

<body>
  <div id="app">
    <h1>vue role acl DEMO</h1>
    <p>current role: {{$acl.currentRoles}}</p>
    <p>
      <button @click="$acl.change('admin')">set admin</button>
      <button @click="$acl.change('login')">set login</button>
      <button @click="$acl.change('editor')">set editor</button>
      <button @click="$acl.change('login', 'editor')">set login & editor</button>
      <button @click="$acl.setRules({
        admin: '*',
        login: ['read', 'list'],
        editor: ['read', 'list', 'edit', 'delete'],
      })">set rules</button>

    </p>
    <div>
      <b>component</b>
      <p v-if="$acl.check('read')">user can read</p>
      <p v-if="$acl.check('edit')">user can edit</p>
      <p v-if="$acl.check('delete')">user can delete</p>
      <p v-if="$acl.check('list')">user can list</p>
      <p v-if="$acl.check('read', 'list')">user can read or list</p>
    </div>
    <div>
      <b>links</b>
      <router-link to="/read">read</router-link>
      <router-link to="/edit">edit</router-link>
      <router-link to="/delete">delete</router-link>
      <router-link to="/list">list</router-link>
      <router-link to="/public">public</router-link>
    </div>
    <div>
      <b>router</b>
      <router-view></router-view>
    </div>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.1.3/vue-router.js"></script>
  <script src="/dist/vue-role-acl.js"></script>
  <script>
    const router = new VueRouter({
      routes: [
        { path: '/read', component: { template: '<p>read</p>' }, meta: { rule: ['read'] } },
        { path: '/edit', component: { template: '<p>edit</p>' }, meta: { rule: ['edit'] } },
        { path: '/delete', component: { template: '<p>delete</p>' }, meta: { rule: ['delete'], ruleFail: '/read' } },
        { path: '/list', component: { template: '<p>list</p>' }, meta: { rule: ['list'] } },
        { path: '/public', component: { template: '<p>public</p>' } },
        { path: '/not-found', component: { template: '<p>not-found</p>' } },
      ]
    })

    Vue.use(VueRoleAcl, {
      initial: ['public'],
      router,
      // ruleFail: '/not-found',
      rules: {
        '*': ['read'],
        admin: '*',
        login: ['read', 'list'],
        editor: ['read', 'list', 'edit', 'delete'],
      },
    })
    var vm = new Vue({
      router,
      el: '#app',

    })
  </script>
</body>

</html>